  <div class="container">
    <header>
      <div class="row">
        <div class="header col-4">
          <img src="images/wf-logo.svg" alt="logo" />
          <div class="header__logo-text">
            <span class="secondary-color header__logo-text--1">Woof</span><br>
            <span class="tertiary-color header__logo-text--2">Share</span>
          </div>
        </div>
        <div class="col-8">
          <nav class="nav">
            <ul>
              <li class="pr-5"><a href="#!">What is WoofShare?</a></li>
              <li class="pr-5"><a href="#!">How it works</a></li>
              <li><a href="#!" class="btn btn-theme-primary">Get Started</a></li>
              <li class="px-2">- Or -</li>
              <li><a href="#!" class="btn btn-theme-secondary">Login</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

  </div>